-r requirements.in

pip==24.0
setuptools==70.3.0
wheel==0.45.1

pip-tools==6.13.0

coverage[toml]==7.6.10
pytest-asyncio==0.20.3
pytest-cov==4.1.0
pytest-mock==3.14.0

flake8==6.1.0
flake8-bugbear==23.9.16
mypy==1.10.0
pre-commit==3.7.1
black==22.3.0